<master-detail>
  <master-header>
    <table class="wb-table" flex>
      <thead>
        <tr>
          <th class="col-free">Name</th>
          <th class="col-free">Address</th>
          <th class="col-free" hide-sm ng-hide="$ctrl.showDetail">Phone</th>
          <th class="col-free" hide-sm ng-hide="$ctrl.showDetail">Number of Employees</th>
        </tr>
      <thead>
    </table>
  </master-header>
  <master-content>
    <table ng-table="$ctrl.table" class="wb-table wb-table-content" flex show-filter="false">
      <tbody>
        <tr ng-repeat="r in $data" ng-class="{selected:r.id===$ctrl.selected}" ng-click="$ctrl.select(r)">
          <td class="col-free">{{r.name}}</td>
          <td class="col-free">{{r.address}}</td>
          <td class="col-free" hide-sm ng-hide="$ctrl.showDetail">{{r.phone}}</td>
          <td class="col-free" hide-sm ng-hide="$ctrl.showDetail">{{r.employees}}</td>
        </tr>
      </tbody>
    </table>
  </master-content>
  <detail-content>
    <company-detail flex layout="row" id="$ctrl.selected"></company-detail>
  </detail-content>
</master-detail>