<master-detail>
  <master-actions>
    <md-button class="md-raised md-primary" ng-click=$ctrl.add()>
      <i class="fa fa-plus"></i>
    </md-button>
  </master-actions>
  <master-header>
    <table class="wb-table" flex>
      <thead>
        <tr>
          <th class="col-free">Name</th>
        </tr>
      <thead>
    </table>
  </master-header>
  <master-content>
    <table ng-table="$ctrl.table" class="wb-table wb-table-content" flex show-filter="false">
      <tbody>
        <tr ng-repeat="r in $data" ng-class="{selected:r.id===$ctrl.selected}" ng-click="$ctrl.select(r)">
          <td class="col-free">{{r.name}}</td>
        </tr>
      </tbody>
    </table>
  </master-content>
  <detail-content>
    <company-detail flex layout="row" id="$ctrl.selected"></company-detail>
  </detail-content>
</master-detail>